
.admin-home,
.admin-orders,
.admin-products {
  display: flex;
  height: 120vh;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
}

#image-product-manage {
  height: 100px;
  width: 100px;
}