
.admin-home,
.admin-orders {
  display: flex;
  height: 85vh;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
}
.admin-products{
    display: flex;
    height: 85vh;
    align-items: center;
    justify-content: center;
    font-size: 1rem;
    position: relative;
    top: 20px;
}
.contentInside{
  width: 60%;
}

.addproduct{
  position: relative;
  top: -46px;
  right: -264px;
  width: 70%;
}

#image-product-manage {
  height: 100px;
  width: 100px;
}

.form.a {
    width: 135%;
    margin: auto;
    display: flex;
    flex-direction: column;
    background: #ffffff;
    box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2);
}
.form.a > div {
  margin: -0.5rem !important;
}
.image-input{
  display: flex;
  width: 20%;
}
