.pagination-container {
    text-align: center;
    padding: 20pt;
}

.pagination {
    display: inline-block;
  }
  
  .pagination span {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color .3s;
    border: 1px solid #ddd;
    border-radius: 3px;
    margin: 0 4px;
  }
  
  .pagination .active span {
    background-color: #4CAF50;
    color: white;
    border: 1px solid #4CAF50;
  }
  
  .pagination span:hover:not(.active) {
    background-color: #ddd;
    }