.row {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    left: 20%;
}
li {
    float: left;
}
.medium {
    max-width: 300px;
    max-height: 400px;
}
.input {
    margin: 5px;
}

/* Product image */
.product-detail-left {
    margin-left: -135px;
    /* width: 200px;
    height: 200px; */
    overflow: hidden;
    position: relative;
    
}
.product-detail-left img {
    border: 2px solid rgb(97, 96, 96);
    position: absolute;
    transition: transform 0.5s ease;
    margin: 20px 0px 0px 10px;
}
/* .lens {
    height: 125px;
    width: 125px;
    border: 2px solid rgb(97, 96, 96);
} */
.product-detail-left img:hover{
    transform: scale(1.1);
    cursor: zoom-in;
  }


/* Product info */
.titleName {
    font-size: xx-large;
    margin-top: 10px;
}

.productStatus {
    font-weight: bold;
}

.price-box {
    font-size: xx-large;
    font-weight: 500;
}

.product-des {
    font-size: 18px;
}


.product-policy {
    border: 2px dotted rgb(97, 96, 96);
}
.product-policy-content .icon {
    padding: 2px;
    margin-left: 5px;
    color: rgb(0, 128, 96);
    margin-top: 15px;
}

.item-sizes {
    border: 2px solid rgb(175, 175, 175);
    border-radius: 4px;
    padding: 5px 10px;
}

.quantity-button .dec-Button{
    margin-left: 10px;
}

.quantity-button .input {
    width: 40px;
    text-align: center;
}

.cart  {
    cursor: pointer;
    font-size: 15px;
    padding: 14px 16px;
    background: #000;
    border: 1px solid;
    margin: 10px 0px 0px 35px;
    border-color: rgba(155, 145, 145, 0.548);
    border-radius: 8px;
    color: rgb(243, 243, 243);
}
.cart:hover {
background-color: rgb(22, 22, 22)
}
.cart:active {
box-shadow: 0 2px rgb(90, 84, 84);
transform: translateY(1px);
}

.x-cart {
    cursor: not-allowed;
    font-size: 15px;
    padding: 14px 16px;
    background: rgb(68, 64, 64);
    border: 1px solid;
    margin-top: 10px;
    border-color: rgba(155, 145, 145, 0.548);
    border-radius: 8px;
    color: rgb(243, 243, 243);
}


