
.login_image {
    width: 80%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.head {
    text-align: center;
    margin: 0;
    line-height: 1;
    padding-bottom: 20px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}

.signin-up {
    background: linear-gradient(to right, #046c0b 38%, #f7e702 100%);
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: left;
    font-size: 22px;
}
.infor {
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 16px;
}
.form {
    width: 40%;
    margin: auto;
    background: #ffffff;
    box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2);
    padding: 40px 55px 45px 55px;
    border-radius: 15px;
    transition: all .3s;
  }

/* #email:focus {
    border-color: #ff1616;
    box-shadow: none;
} */

.form > div{
    display: flex;
    flex-direction: column;
    margin: 1rem;
}

.form label{
    margin: 1rem 0;
    display: block;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.account {
    text-align: center;
    font-size: 13px;
    padding-top: 10px;
    color: #7f7d7d;
    margin: 0;   
    font-family:'Courier New', Courier, monospace;
}

.primary {
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    display: block;
    background: linear-gradient(to right, #046c0b 15%, #f7e702 100%);
    color: rgb(255, 255, 250);
    border-radius: 10mm;
    font-size: 20px;
    
}

.primary:hover {
    background: linear-gradient(to right, #05910e 15%, #fbff13 100%);
}

.primary:focus {
    outline: none;
}