.header {
  height: 80px;
  display: flex;
  align-items: center;
  background-color: rgba(244,203,36,09);
  position: sticky;
  top: 0;
  z-index: 100;
}
.header__logo {
  object-fit: contain;
  margin-top: 18px;
  margin-bottom: 10px;

}

.header__search {
  display: flex;
  flex: 1;
  align-items: center;
  border-radius: 24px; 
}

.header__searchIcon {
  padding: 5px;
  height: 35px !important;
  border: none;
  background-color: #cd9042; 
  border-radius: 3px;
}


.header__searchInput {
  padding: 6px;
  margin-top: 8px;
  font-size: 16px;
  width: 100%;
  border: none;
  border-radius: 3px;
}
.header__optionLineOne {
  font-size: 10px;
}

.header__optionLineTwo {
  font-size: 13px;
  font-weight: 800;
}

.header__nav {
  display: flex;
  justify-content: space-evenly;
  margin-left: 20px;
  margin-right: 20px;
}
.header__optionBasket {
  display: flex;
  align-items: center;
  font-size: 25px;
  color: rgb(0, 88, 0);
  margin-top: 5px;
  margin-left: 10px;
  margin-right: 10px;
}
.header__basketCount {
  margin-right: 10px;
  margin-left: 5px;

}
.header__option {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
  margin-right: 10px;
  color: rgb(0, 88, 0);
  text-decoration: none; 
}
.search-button{
  border: none;
  margin: 0px;
  margin-top: 10px;
  height: 35px;
  padding: 0px;
  border-radius: 3px;
  
}

.dropdown{
  display: inline-block;
  position: relative;
}
.dropdown-content {
  font-size: 15px;
  position: absolute;
  display: none;
  right: 0;
  min-width: 8rem;
  padding: 15px;
  z-index: 1;
  background-color:#cd9042;
  margin: 0;
  margin-top: 0.4rem;
  border-radius: 0.5rem;
}
.dropdown:hover .dropdown-content {
  display: block;
}
.dropdown-signout{
  color: rgb(0, 88, 0);
}