.header {
  height: 80px;
  display: flex;
  align-items: center;
  background-color: rgba(244,203,36,09);
  position: sticky;
  top: 0;
  z-index: 100;
}
.header__logo {
  object-fit: contain;
  margin-top: 18px;
  margin-bottom: 10px;

}

.header__search {
  display: flex;
  flex: 1;
  align-items: center;
  border-radius: 24px; 
}
.header__searchIcon {
  padding: 5px;
  height: 27px !important;
  background-color: #cd9042;
}

.header__searchInput {
  height: 27px;
  padding: 5px;
  border: none;
  width: 100%;
}

.header__optionLineOne {
  font-size: 10px;
}

.header__optionLineTwo {
  font-size: 13px;
  font-weight: 800;
}

.header__nav {
  display: flex;
  justify-content: space-evenly;
  margin-left: 20px;
  margin-right: 20px;
}
.header__optionBasket {
  display: flex;
  align-items: center;
  font-size: 25px;
  color: white;
  margin-left: 10px;
  margin-right: 10px;
}
.header__basketCount {
  margin-right: 10px;
  margin-left: 5px;

}
.header__option {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
  margin-right: 10px;
  color: white;
}