.product {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    margin: 10px;
    padding: 20px;
    width: 100%;
    max-height: 400px;
    max-width: 400px;
    background-color: white;
    z-index: 1;
  }
  

  
  .image{
    max-height: 200px;
    width: 100%;
    object-fit: contain;
    margin-bottom: 15px;
  }
  
  .product > .link > button {
    cursor: pointer;
    font-size: 15px;
    padding: 14px 16px;
    background: #000;
    border: 1px solid;
    margin-top: 10px;
    border-color: rgba(155, 145, 145, 0.548);
    border-radius: 8px;
    color: rgb(243, 243, 243);
  }

  .product > .link > button:hover {
    background-color: rgb(22, 22, 22)
  }

  .product >.link > button:active {
    box-shadow: 0 2px rgb(90, 84, 84);
    transform: translateY(1px);
  }
  
  .product__price {
    margin-top: 5px;
  }
  
  .product__info {
   margin-bottom: 15px;
  }